@import 'style.css';

.container{
    width:100%;
    max-width:1280px;
    margin: 0 auto;
    height:80rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2rem;
    box-sizing:border-box;
}
.block{
    position:relative;
    flex: 1 1 600px;
    margin-top:16rem;
    margin-bottom:12rem;
}
.nav__links{
    display:none;
}
.container__image01, .container__image02{
    position:absolute;
}
.container__image02{
    top:12rem;
    left:12rem;
    animation: catnip 5s ease-in-out 0s infinite alternate;
}
.container__txt{
    flex: 1 1 600px;
    margin-top:20rem;
}
.txt__title, .txt__desc{
    text-align:center;
}
.txt__title{
    font:900 4.4rem/1 var(--ff);
    margin: 2rem 0;
    color: var(--clr-green-normal);
}
.txt__desc{
    font:400 1.8rem/1.5 var(--sf);
    letter-spacing: .4px;
    padding: 0 2rem;
}

strong{
    font-weight:900;
    color: var(--clr-green-normal);
}
@keyframes catnip {
    from{
        top:12rem;
    }
    to{
        top:8rem;
    }
}
@media screen and (min-width:1024px) {
    .nav__links{
        display:flex;
    }
    span::before{
        content:"\a";
        white-space: pre;
    }
    .txt__title, .txt__desc{
        text-align:left;
        margin:2rem 8rem 1rem 0;
    }
    .txt__title{
        font-size:7rem;
    }
    .block{
        margin-bottom:40rem;
        margin-left:2rem;
    }
    .container__txt{
        margin-top:0;
    }
}